<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-触摸.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC8315D01C1AB1F000926D12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC8315E91C1AB1F100926D12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC8315F41C1AB1F100926D12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
